<div class="jumbotron">
  <div class="container top">
    <h1>Hello, world!</h1>
    <p>This is a template for a simple marketing or informational website.
      It includes a large callout called a jumbotron and three supporting 
      pieces of content. Use it as a starting point to create something more
      unique.</p>
    <p>
      <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
    </p>
  </div>
</div>

<div class='container'>
  <% if @posts.none? %>
    No posts yet
  <% else %>
    <div class='row'>
      <% @posts.each do |post| %>
        <div class='col-md-4'>
          <h2><%= post.title %></h2>
          <p><%= post.description %></p>
          <%= image_tag post.picture.url(:medium), class: 'uploaded-pic' %>
    
          <% if post.user == current_user %>
            <%= link_to 'Delete', post_path(post), method: :delete %>   
          <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

    <%= link_to "Make a Post", new_post_path %>
    <%= link_to "New post" %>







